<section class="todoapp">
	<header class="header">
		<h1><%= link_to 'todos', '/' %></h1>
    <%= form_for(@list) do |f| %>
      <%= f.text_field :name, class: "new-todo", placeholder: @list.errors.full_messages_for(:name).first || 'make a new list', autofocus: true %>
    <% end %>
	</header>

	<section class="main" style="display: block;">
    <ul class="todo-list">
      <%= render collection: @lists, partial: 'lists/list_li', as: :list %>
    </ul>
	</section>

	<footer class="footer" style="display: block;">
		<span class="todo-count"><strong><%=@lists.count%></strong> list(s)</span>
	</footer>
</section>
