<section class="todoapp">
	<header class="header">
		<h1><%= link_to 'todos', '/' %></h1>
    <%= form_for([@list, @item]) do |f| %>
      <%= f.text_field :name, class: "new-todo", placeholder: @item.errors.full_messages_for(:name).first || "what needs to be done?", autofocus: true %>
    <% end %>
	</header>

	<section class="main" style="display: block;">
		<input class="toggle-all" type="checkbox">
		<label for="toggle-all">Mark all as complete</label>
		<ul class="todo-list">
      <% @items.each do |item| %>
      <li class="<%= 'completed' if item.complete? %>">
        <div class="view">
          <%= form_for([@list, item]) do |f| %>
            <%= f.check_box :completed, class: 'toggle', checked: (true if item.complete?) %>
          <% end %>
          <label><%= item.name %></label>
          <button class="destroy"></button>
        </div>
      </li>
      <% end %>
    </ul>
	</section>

	<footer class="footer" style="display: block;">
		<span class="todo-count"><%=@items.count%> item(s)</span>
		<ul class="filters">
			<li>
				<a href="#/" class="selected">All</a>
			</li>
			<li>
				<a href="#/active">Active</a>
			</li>
			<li>
				<a href="#/completed">Completed</a>
			</li>
		</ul>
		<button class="clear-completed" style="display: none;"></button>
	</footer>
</section>
